Dechecteria/Library/*
Dechecteria/obj/*
Dechecteria/Debug/*
Dechecteria/.vs/*
Dechecteria/Temp/*
Dechecteria/Assets/FMODStudioCache.asset
Dechecteria/Assets/FMODStudioCache.asset.meta
Dechecteria/fmod.log
Dechecteria/fmod_editor.log
.vs/
*.csproj
